*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    min-height: 100vh;
    background-color: rgb(230, 226, 244);
}
.container{
    background-color: rgb(127, 164, 131);
    padding: 15px;
    width: 215px;
}
form{
    display: flex;
    flex-direction:column;
    gap:20px;
}

select,button,input{
    border:1px solid green;
    border-radius: 3px;

}

button{
    cursor: pointer;
}
.dropdown{
    display:flex;
    border-radius: 10px;
    border:1px solid black;
    padding:10px


}
.icon{
    top:20px;
    padding: 20px;
}


