*{
    padding: 0;
    margin: 0;
}
/* .box:first-child{
    background-color: antiquewhite;
}
.box:last-child{
    background-color: rgb(187, 145, 90);
}

.box::first-line{
    color:rgb(155, 155, 209)
} */

/* .box:nth-child(odd){
    color:blueviolet;
    background-color: blanchedalmond;
}
.box:nth-child(even){
    color:rgb(203, 175, 228);
    background-color: rgb(50, 36, 15);
}

.boxes::before{
    content: "I am learning HTML.";
}
.boxes::after{
    content: "I am learning CSS.";
} */

::selection{
    background-color: black;
    color:white;
}
input::placeholder{
    background-color:bisque;
}


