nav .logo img{
    width: 150px;
}
nav{
    display:flex;
    align-items: center;
    font-family: "Segoe UI";
    justify-content: space-around;
}
ul{ 
    display:flex;
    gap:40px;
}
ul li{
    display: flex;
    list-style: none;
    align-items: center;
    cursor: pointer;
}
li svg{
    width:20px;
}

.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-bottom: 70px;
}

.first span{
    font-size: 48px;
}

main{
    /* background-color: blueviolet; */
    margin: 63px 260px;
    font-family:sans-serif;
    padding:60px 0px;
}

.first p{
    font-size: 23px;
    text-align: center;
}

.butt{
    text-transform: uppercase;
    background: #00b6d1;
    border-radius: 5px;
    padding:10px;
    color: white;
    text-decoration: none;
    border:none;
}
.small{
    font-size: 12px;
}

.second{
    margin:auto;
    /* background-color:aquamarine; */
}

.second div img{
    border-radius: 50px;
}

.second div{
    display: flex;
    align-items: center;
    gap:10px;
}

.grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    /* background-color: red; */
    gap:12px;
}

.item{
    background: #f9f9f9;
    text-align:center;
    padding:23px;
    border-radius: 5px;
    font-family: sans-serif;


}

.lang{
    font-weight: 700;
    text-align:center;
    padding:30px;    
}

.blue{
    background: rgb(27, 197, 231);
    border:none;
    padding:10px;
    border-radius: 7px;
    color:white;
    
    
    
}

.green{
    background: rgb(120, 233, 114);
    color:white;
    border:none;
    padding:10px;
    border-radius: 7px;
    
}

.btn a{
    text-decoration: none;
    color:white;
}

@media screen and (max-width: 1080px){
    .grid{
        grid-template-columns: 1fr;
    }
};
    
